$background-color: #D97E7E;
$bloody-red: #9a1d1d;
$dark-red: #590202;
$light-blue: #3DE0F2;
$blue: #0CB1F2;
$dark-blue: #0B508C;
$white: white;
$light-grey: #737373;
$grey: #595959;
$light-green: #94BF36;
$green: #375915;
$dark-green: #142601;
$orange: #F28705;
$dark-orange: #BF5B04;