.input-style1 {
    width: 100%;
    color: $bloody-red;
    font-size: large;
    font-weight: 500;
    border: none;
    border-bottom: 3px solid $bloody-red;
}

.input-style1:focus {
    outline: none;
}

.btn-style1 {
    border: none;
    text-align: center;
    color: white;
    background-color: $bloody-red;
    border: 4px solid $bloody-red;
    padding: 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.btn-style1:hover {
    background-color: $white;
    color: $bloody-red;
}

.box {
    width: 80%;
    height: 100%;
    padding: 50px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box .login-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    text-align: center;
}

hr {
    margin-top: -10%;
    width: 110%;
    margin-left: -5% ;
    background-color: $background-color;
    height: 2.5px;
    border: none;
}

a {
    color: $bloody-red;
    font-weight: bold;
}

.login-btn {
    margin: 0 20% -10% 20%;
}

.iserv-logo {
    margin: 0 10% 0 10%;
}