.appointments {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    color: $bloody-red;
    border-radius: 25px;
}

.appointment {
    text-decoration: none;
    border: 4px solid;
    border-radius: 10px;
    color: $white;
    padding: 13px 23px;
    font-size: medium;
    font-weight: bold;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.freiePlaetze0 {
    text-decoration: line-through;
    background-color: $grey;
    border-color: $grey;
    color: $white;
    cursor: auto;
}

.freiePlaetze1 {
    background-color: $bloody-red;
    border-color: $bloody-red;

    &:hover {
        border-color: $dark-red;
    }
}

.freiePlaetze2, .freiePlaetze3{
    background-color: $orange;
    border-color: $orange;
}

.freiePlaetze4 {
    background-color: $green;
    border-color: $green;
}