.appointments {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    color: var(--main-bloody-red-color);
    border-radius: 25px;
}

.appointment {
    text-decoration: none;
    border: none;
    border-radius: 5px;
    //background-color: var(--main-grey-color);
    //color: var(--main-white-color);
    padding: 15px 25px;
    font-size: medium;
    font-weight: bold;
    transition: background-color 0.5s ease;
}

.appointment:hover {
    background-color: var(--main-light-green-color);
    color: var(--main-green-color);
    border-color: var(--main-green-color);
}

.freiePlaetze0 {
    text-decoration: line-through;
    background-color: var(--main-grey-color);
    color: var(--main-white-color);
}

.freiePlaetze1 {
    background-color: var(--main-bloody-red-color);
}

.freiePlaetze2, .freiePlaetze3{
    background-color: #de9924;
}

.freiePlaetze4 {
    background-color: var(--main-green-color);
}