.appointments {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    color: $bloody-red;
    border-radius: 25px;
}

.appointment {
    text-decoration: none;
    border: 4px solid;
    border-radius: 10px;
    color: $white;
    padding: 13px 23px;
    font-size: medium;
    font-weight: bold;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.freiePlaetze0 {
    text-decoration: line-through;
    background-color: $grey;
    border-color: $grey;
    color: $white;
    cursor: auto;
}

.freiePlaetze1 {
    background-color: $bloody-red;
    border-color: $bloody-red;

    &:hover {
        border-color: $dark-red;
    }
}

.freiePlaetze2, .freiePlaetze3{
    background-color: $orange;
    border-color: $orange;

    &:hover {
        border-color: $dark-orange;
    }
}

.freiePlaetze4 {
    background-color: $green;
    border-color: $green;

    &:hover {
        border-color: $dark-green;
    }
}

.legend {
    margin-top: 25px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;

    p {
        margin: 0;
        padding: 0;
    }

    .dot {
        padding: 10px 25px;
        display: inline-block;  
        color: $white;
        border-radius: 10px;
    }

    .dot-grey {
        background-color: $grey;
    }

    .dot-red {
        background-color: $bloody-red;
    }

    .dot-orange {
        background-color: $orange;
    }

    .dot-green {
        background-color: $green;
    }
}

.date {
    margin-top: -5px;
}

