@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    margin: auto;
    width: 100vw;
    height: 100vh;
    background-color: var(--main-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Blood-LeftBottom {
    position: absolute;
    left: 0;
    bottom: 0;
}

.Blood-RightTop {
    position: absolute;
    right: 0;
    top: 0;
}

.appointment {
    z-index: 10;
    background-color: var(--main-white-color);
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    color: var(--main-bloody-red-color);
    height: 700px;
    border-radius: 25px;
}

a {
    text-decoration: none;
    border: 4px solid var(--main-dark-blue-color);
    background-color: var(--main-light-blue-color);
    color: var(--main-dark-blue-color);
    padding: 10px 20px;
    font-weight: bold;
    transition: background-color 0.5s ease;
}

a:hover {
    background-color: var(--main-light-green-color);
    color: var(--main-green-color);
    border-color: var(--main-green-color);
}

@media (max-width: 1024px) {
    
}

@media (max-width: 768px) {
    main {
        width: 100vw;
        height: 100vh;
        margin: auto;

    }

    .Blood-LeftBottom, .Blood-RightTop {
        visibility: hidden;
    }
}