.card {
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    h2, h3, h4, p {
        margin: 25px;
        text-align: center;
    }
    
    .btns {
        height: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        button {
            user-select: none;
            border: 4px solid $light-grey;
            width: 150px;
            height: 50px;
            font-size: large;
            border-radius: 10px;
            font-weight: bold;
            cursor: pointer;
        }

        .btn-ja {
            background-color: $light-green;
            color: $green;
            border-color: $green;
        }

        .btn-nein {
            background-color: $bloody-red;
            color: $dark-red;
            border-color: $dark-red;
        }
    }

    &:last-child {
        text-align: center;
    }

    img {
        width: 200px;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -ms-user-drag: none;
    }

    #donatable {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .btn-donatable {
            user-select: none;
            border: 4px solid $green;
            width: 250px;
            height: 75px;
            font-size: large;
            border-radius: 10px;
            font-weight: bold;
            background-color: $light-green;
            color: $green;
        }

        img {
            visibility: visible;
            width: 200px;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-user-drag: none;
            -khtml-user-drag: none;
            -moz-user-drag: none;
            -ms-user-drag: none;
        }
    }

    #notDonatable {
        img {
            height: 5000px;
        }
    }
}

#accepted {
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-around;
}

#not-accepted {
    h2, h3, h4, p {
        margin: 0, 25px;
        padding: 0;
        margin-bottom: -25px;
    }

    button {
        user-select: none;
        border: 4px solid $light-grey;
        width: 150px;
        height: 50px;
        font-size: large;
        border-radius: 10px;
        font-weight: bold;
        cursor: pointer;
    }

    .btn-nein {
        background-color: $bloody-red;
        color: $dark-red;
        border-color: $dark-red;
    }

    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}