.card {
    display: none;
    


    button {
        user-select: none;
        border: 4px solid var(--main-light-grey-color);
        background-color: var(--main-light-grey-color);
        color: var(--main-grey-color);
        padding: 10px 20px;
        border-radius: 15px;
        font-weight: bold;
        transition: background-color 0.5s ease;
    }
    
    .btn-ja {
        background-color: var(--main-light-green-color);
        color: var(--main-green-color);
        border-color: var(--main-green-color);
    }
    
    .btn-nein {
        background-color: var(--main-bloody-red-color);
        color: var(--main-dark-red-color);
        border-color: var(--main-dark-red-color);
    }
}



p {
    text-align: center;
}