form {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card {
    margin: 0 25px 0 25px;
}

.card:first-child {
    margin-top: 25px;
}

.answer {
    margin: 20px 20px 40px;
    display: flex;
    justify-content: space-around;
}

input[type="checkbox"] {
    display: none;
}

.checkbox {
    user-select: none;
    border: 4px solid var(--main-light-grey-color);
    background-color: var(--main-light-grey-color);
    color: var(--main-grey-color);
    padding: 10px 20px;
    border-radius: 15px;
    font-weight: bold;
    transition: background-color 0.5s ease;
}

.checkbox-ja:checked + span {
    background-color: var(--main-light-green-color);
    color: var(--main-green-color);
    border-color: var(--main-green-color);
}

.checkbox-nein:checked + span {
    background-color: var(--main-bloody-red-color);
    color: var(--main-dark-red-color);
    border-color: var(--main-dark-red-color);
}

.btn-style1 {
    text-align: center;
    color: var(--main-grey-color);
    background-color: var(--main-light-grey-color);
    border: 4px solid var(--main-grey-color);
    padding: 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    transition: background-color 0.5s ease;
}

.btn-style1:disabled {
    color: var(--main-grey-color);
    background-color: var(--main-light-grey-color);
    border-color: var(--main-grey-color);
    text-decoration: line-through;
}

.btn-style1:enabled {
    color: var(--main-white-color);
    background-color: var(--main-bloody-red-color);
    border-color: var(--main-bloody-red-color);
    cursor: pointer;
}

.btn-style1:enabled:hover {
    background-color: var(--main-white-color);
    color: var(--main-bloody-red-color);
}

.weiterbtn {
    margin: 10% 35% 0 35%;
}

p {
    text-align: center;
}

.admin {
    right: 10%;
    top: 10%;
}